<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <header class="nav navbar navbar-brand d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom navbar-dark">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
        <span style="width: 20px;"></span>
        <span class="fs-4 text-primary">Sri Lankan ODI Cricketers Index</span>
      </a>
      <ul class="nav nav-pills">
        
      </ul>
    </header>
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <form class="" action="http://localhost:5000/" method="post" style="width: 100%%;">
          <div class="container">
            <div class="row">
              <div class="col-10">
                <p><input class="form-control" type="text" name="query" placeholder="Search" style="width: 100%"/></p>
              </div>
              <div class="col-2">
                <p><input class="btn btn-primary" type="submit" value="Search" name="form" /></p>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-2">
      </div>
    </div>
    
  </div>
  

  <div class="row">
    
    <div class="col-12">
      <div class="card" style="width: 100%">
        {% if names == [] %}
          <div><p class="lead text-center">No Search Results were Found!</p></div>
        {% endif %}
        {% for each in names %}
        <div class="shadow card border-secondary mb-3 rounded" style="width: 100%">
          <div class="card-body">
            {% for key, value in each.items() %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ key }} : {{ value}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>